.banner_wrapper {
    height: 100vh;
    /* background-image: url('public/cloudedesign/banner.jpg'); */
    width: 100%;
    background-size: cover; /* Removed quotes */
    background-position: center; /* Removed quotes */
    background-repeat: no-repeat; /* Removed quotes */
    position: relative;
    overflow: hidden;
}


.banner_header {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: #f7f6f4;*/

    top:0;
    position: sticky;
    z-index: 1000;
}
.banner_logo{
    padding-left: 50px;
    /*position: absolute;*/
}
.banner_nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner_nav-bar ul{
    list-style-type: none ;
}
.banner_nav-bar li{
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
}

.banner_nav-item {
    color: white;
}

.banner_nav-bar li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.banner_nav-bar li a:hover{
    color: #c47440;
    font-weight: 600;
    cursor: pointer;
}
.banner_header-button{
    display: flex;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid white;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.banner_quotes_button{
    display: flex;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 16px;
    background: linear-gradient(to right, #9924d2, #7023e4);
    /*border: 2px solid white;*/
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: none;
}


.banner_header-button-secondary{
    display: flex;
    background-color:  white;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
}
/* Hamburger Icon */
.banner_hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    color:white;
}
/* Hamburger Open (Close Icon) */
.banner_hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 6.5px;
}

.banner_hamburger.open span:nth-child(2) {
    opacity: 0;
}

.banner_hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: -6.5px;
}
.banner_hamburger span {
    width: 25px;
    height: 2px;
    background-color: white;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 1028px) {
    .banner_header{
        justify-content: center;
    }
    .banner_logo{
        padding-left: 0;
    }
    .banner_nav-bar li a{
        color: black;
    }

}
/* Responsive Styles */
@media (max-width: 1028px) {
    .banner_header {
        justify-content: space-between;
    }

    .banner_nav-bar li{
        display: inline-block;
        padding: 10px 30px;
        font-size: 14px;

    }

    /* Show Hamburger on Mobile */
    .banner_hamburger {
        display: flex;
    }

    /* Hide Menu Items and Button Initially */
    .banner_menu-items {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px 2px;
        border-radius: 5px;
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    .banner_menu-items.show {
        display: flex;
        z-index: 1;
    }

    /* Hide the Get Template Button on Mobile */
    .banner_header-button {
        display: none;
    }

}

@keyframes fadeIn {
    from {
        background-color:  rgb(247, 246, 244,0.6);
    }
    to {
        background-color: rgb(247, 246, 244); /* Target color */
    }
}
@media (max-width: 768px) {
    .banner_header {
        top:0;
        z-index: 10;
        /*background-color:  rgb(247, 246, 244,0.6);*/
        position: sticky;
        align-items: center;
    }
    .banner_header.scrolled {
        animation: fadeIn 1s forwards;
    }

    .banner_logo {
        padding-left: 0;
    }




    .banner_menu-items.show {
        display: flex;
    }

    /* Hide the Get Template Button on Mobile */
    .banner_header-button {
        display: none;
    }

}

@media (max-width: 480px) {
    .banner_header {
        top:0;
        padding: 5px;
    }

    .banner_nav-bar li {
        font-size: 14px;
    }

    .banner_header-button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

.banner_header__title{
    display: grid;
    width: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.banner_nav-item.active a {
    color: #c47440; /* Highlight color for active nav */
}