
/*-----------------------------------------*/

.service__left-content-card{
    border-radius: 30px; /* Rounds the corners */
    /*padding: 20px 30px; !* Adds inner spacing *!*/
    text-align: left; /* Aligns text to the left */
    min-height: 300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;

}

.service__left-content-card__content{
    padding: 40px 0 40px 40px;
}

.service__left-content-card__image {
    width: 100%; /* Ensures the div takes full width */
    height: 100%; /* Ensures the div takes full height */
    display: flex; /* Optional: Helps center the image */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures content doesn't spill out of the container */
}

.service__left-content-card__image img {
    width: 100%; /* Scale the image to fit the width */
    height: 100%; /* Scale the image to fit the height */
    object-fit: cover; /* Ensures the image scales without distortion */
    border-radius: 30px; /* Match the parent border-radius */
}
