.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list li{
    list-style-type: none;
    display: inline;
}
.list-item{
    margin-right: 25px;
    text-transform: uppercase;
}
.list-item a:hover{
    cursor: pointer;
}

.header-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-button-container button{
    background: black;
    color: white;
    border: none;
    padding: 10px;
    text-transform: uppercase;
}
.logo{
    height: 150px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

@media (max-width: 1600px) {
    .list-item{
        margin-right: 10px;
    }


}
@media (max-width: 1400px) {
    .list-item{
        margin-right: 8px;
    }
    
}
@media (max-width: 1200px) {

    .list-item a{
        font-size: 10px;
    }
    .header-button-container button{
        font-size: 10px;
        padding: 5px;
    }
    .logo{
        height: 80px;
    }

}
@media (max-width: 830px) {
    .menu-list{
        display: none;
    }
    .header-button-container{
        display: none;
    }
    .header{
        grid-template-columns: 1fr;
    }
    .logo{
        height: 60px;
    }
}
@media (max-width: 500px) {
    .logo{
        height: 40px;
    }
}
@media (max-width: 400px) {
    .logo{
        /*height: 20px;*/
    }
}