.explore_container{
    display: flex;
    flex-direction: column;
    padding: 50px 10px 0;
    gap: 20px;
}

.expolre-content{
    height: 89vh;
}

.explore-title{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 0 100px;
    /*margin-top: 5rem;*/
}

.expand-title{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0 100px;
    /*margin-top: 5rem;*/
}

.experience-title{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0 100px;
    position: absolute;
    bottom: 2rem;
    /*margin-top: 5rem;*/
}

.explore-title-text{
    color: white;
    font-size: 218px;
    line-height: 1;
    margin: 0;
    /*margin-top: 0;*/
}
.expand-title-text{
    color: white;
    font-size: 218px;
    line-height: 2;
    margin: 0;
    /*margin-top: 0;*/
}

.experience-title-text{
    color: white;
    font-size: 218px;
    line-height: 1;
    margin: 0;
    /*margin-top: 0;*/
}



.explore-content{
    padding: 10px 100px;
}

.expand-content{
    margin-top: -5rem;
    padding: 10px 100px;
}


.explore-description{
    display: flex;
    float: right;
    width: 60%;
    font-style: italic;
    color: white;
}

.experience-description{
    display: flex;
    float: right;
    font-style: italic;
    color: white;
}


.experience-connect{
    position: absolute;
    right: 5rem;
    top: 2rem;
}

@media (max-width: 1560px) {

    .explore-title-text {
        font-size: 155px;
        line-height: 2;
    }
    .expand-title-text {
        font-size: 155px;
        line-height: 2;
    }
    .experience-title-text {
        font-size: 155px;
        line-height: 2;
    }
}

@media (max-width: 1400px) {

    .expolre-content{
        height: 80vh;
    }
    
}
@media (max-width: 1218px) {
    .explore-title-text {
        font-size: 150px;
        line-height: 2;
    }
    .expand-title-text{
        font-size: 150px;
        line-height: 2;
    }.experience-title-text{
        font-size: 150px;
        line-height: 2;
    }

}
@media (max-width: 1080px) {
    .explore-title-text {
        font-size: 120px;
        line-height: 2;
    }
    .expand-title-text{
        font-size: 120px;
        line-height: 2;
    }
    .experience-title-text{
        font-size: 120px;
        line-height: 2;
    }



    .expolre-content{
        height: 70vh;
    }

}
@media (max-width: 768px) {
    .explore-title-text {
        font-size: 80px;
        line-height: 1;
    }
    .expand-title-text{
        font-size: 80px;
        line-height: 1;
    }
    .experience-title-text{
        font-size: 80px;
        line-height: 1;
    }


    .expolre-content{
        height: 60vh;
    }
    .explore-description {
        font-size: 14px;
    }
    
}

@media (max-width: 480px) {
    .explore-title-text {
        font-size: 70px;
        line-height: 1;
    }

    .expand-title-text {
        font-size: 70px;
        line-height: 1;
    }

    .experience-title-text {
        font-size: 60px;
        line-height: 1;
    }

    .explore-title {
        padding: 0;
    }

    .expand-title {
        padding: 0;
    }

    .experience-title {
        padding: 0;
    }

    .explore-content {
        padding: 20px 50px;
    }

    .expand-content {
        padding: 90px 50px;
    }

    .experience-connect {
        padding: 0;
    }

    .expolre-content {
        height: 40vh;
    }

    .explore-description {
        font-size: 12px;
        width: 100%;
    }
}