.visionmission-container{
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    gap: 20px;
}

.visionmission-title{
    display: flex;
    justify-content: center;
    align-items: start;
    /*margin-top: 5rem;*/
}

.title-text{
    color: white;
    font-size: 218px;
    line-height: 1;
    margin: 0;
    /*margin-top: 0;*/
}

.visionmission-content{
    padding: 10px 50px;
}

.visionmission-description{
    display: flex;
    float: right;
    width: 50%;
    font-style: italic;
    color: white;
}

