.projects_container{
    /*height: 85vh;*/
    background: linear-gradient(to bottom, #414141, #101010);
}

.projects_header {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: flex-start; /* Prevent extra vertical centering */
    align-items: center; /* Center items horizontally inside the div */
    text-align: center; /* Center-align text inside the div */
    padding: 50px 0 0 0;
    margin: 0 auto; /* Center the div horizontally */
    width: 50%; /* Optional: Restrict the width */
}
.project_header{
    font-size: 48px;
}

.projects_wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.projects_wrapper img {
    max-width: 100%; /* Ensures the image fits within the width of the parent */
    max-height: 100%; /* Ensures the image fits within the height of the parent */
    object-fit: contain; /* Ensures the image scales proportionally without distortion */
}
.projects-bottom-span{
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    bottom: 75px; right: 30px;
    gap: 10px;
}
.projects-bottom-span-text{
    color: white;
    width: 58%;
    text-align: right;
    font-style: italic;
}

@media (max-width: 1300px) {
    .projects-bottom-span{
        bottom: 50px;
    }
    
}
@media (max-width: 1048px) {
    .projects-bottom-span {
        bottom: 30px;

    }
}

@media (max-width: 1147px) {

    .projects-bottom-span{
        bottom: 20px;
    }
    .projects-bottom-span-text{
        width: 50%;
    }
}
@media (max-width: 968px) {
    .projects-bottom-span-text{
        font-size: 12px;
        width: 45%;
    }
    .projects-bottom-span{
        bottom: 10px;
    }
    .projects-bottom-span button{
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .projects-bottom-span-text{
        font-size: 8px;
    }
    .projects-bottom-span button{
        font-size: 8px;
    }
}
@media (max-width: 648px) {
    .projects-bottom-span{
        display: none;
    }
    .project_header{
        font-size: 35px;
    }
}

.projects_image-container {
    position: relative;
    transition: opacity 0.5s ease-in-out; /* Smooth opacity transition */
}

.projects_image-container.fade {
    opacity: 0; /* Fades out the current image */
}

.projects_wrapper img {
    max-width: 100%; /* Ensures the image fits within the width of the parent */
    max-height: 100%; /* Ensures the image fits within the height of the parent */
    object-fit: contain; /* Ensures the image scales proportionally without distortion */
}
