.footer_container{
    padding: 0 ;
    background: #000000;
    position: relative;
}

.footer_top{
    padding: 0 200px;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #9b9b9b;
}

.left-right-border{
    border-right: 1px solid white;
    border-left:1px solid white;
    width: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.right-border{
    border-right: 1px solid white;
    width: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.white-font{
    color:#ffffff;
}
.sub-header{
    color: white;
    font-weight: 800;
}

.small-divider{
    background-color: white;
    width: 2px;
    height: 10px;
}
.bottom-section-container{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bottom-right-section{
    display:flex;
    flex-direction: column;
    align-items: end;

}
.divider{
    background: white;
    width: 1px;
    height: 100%;
}
.nav-links{
    color: white;
    font-size: 12px;
    font-weight: 700;
}
.nav-links-right{
    font-size: 10px;
    font-weight: 700;
    color: white;


}
.footer-top-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-top-left{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    align-items: center;

}
.footer-top-right{
    display: flex;
    height: 100%;
    justify-content: end;
}

.footer_top-header{
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer_top-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_top-social_icons{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    bottom: 0;
}

.footer-body{
    padding: 20px 200px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 10vw;
}

.footer-bottom-section{
    padding: 20px 100px ;
    grid-template-columns: 1fr 1fr;
    display: grid;
    border-top: 1px solid white;
}
.footer-contact-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 30px;
    padding-top: 20px;
}
.footer-contact-details a{
    text-decoration: none;
    font-size: 14px;
}

.footer-body_section{
    display: flex;
    flex-direction: column;
}

.footer-header-h1{
    font-size: 88px;
}

@media (max-width: 1452px) {
    .footer-header-h1{
        font-size: 78px;
    }
    
}
@media (max-width: 1352px) {
    .footer-header-h1{
        font-size: 68px;
    }

}
@media (max-width: 1181px) {
    .footer-header-h1{
        font-size: 58px;
    }

}
@media (max-width: 1050px) {
    .footer-header-h1{
        font-size: 48px;
    }
    
}
@media (max-width: 950px) {
    .footer-header-h1{
        font-size: 38px;
    }
    .footer-body{
        grid-template-columns: 1fr;
    }
    .quick{
        display: none;
    }
    .footer-body_section {
        flex-direction: column;
        justify-content: center;
        align-items: center;    }

    }

@media (max-width: 1600px) {
    .footer_top {
        padding: 0 100px;
    }
    .footer-body{
        padding: 20px 100px;
        height: 10vw;

    }
}

@media (max-width: 998px) {
    .footer_top {
        padding: 0 50px;
    }
    .footer-body{
        padding: 20px 50px;
        height: 8vw;

    }
    .footer-bottom-section{
        padding: 20px 50px;
    }
}

@media (max-width: 998px) {
    .nav-links-right{
        font-size: 8px;
    }
}

@media (max-width: 776px) {

    .footer-body{
        flex-direction: column;
        height: fit-content;
        align-items: center;
        text-align: center;
    }
    .footer-body{
        gap: 5px;
    }
    .footer-top-left{
        display: none;
    }
    .footer_top {
        padding: 10px 50px;
        grid-template-columns: 1fr;
    }
    .footer-top-right{
        justify-content: center;
    }

    .footer-header-h1{
        font-size: 25px;
    }
    .footer_top-arrow{
        display: none;
    }
    .footer_top-header{
        justify-content: center;
    }

    .footer_top-social_icons{
        justify-content: center;
    }



}

@media (max-width: 710px) {
    .footer-bottom-section{
        grid-template-columns: 1fr;
    }
    .bottom-right-section{
        align-items: center;
    }
    .footer-bottom-section {
        padding: 20px 20px;
    }
}

@media (max-width: 480px) {
    .footer-bottom-section {
        padding: 20px 0px;
    }
}
