.footer_container{
    padding: 50px 100px 150px;
    background: linear-gradient(to bottom, #e5e5e5, #bbbbbb);
    position: relative;
}

.footer_top{
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #9b9b9b;
}

.footer_top-header{
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer_top-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_top-social_icons{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    bottom: 0;
}

.footer-body{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-bottom-section{
    position: absolute; /* Positions it at the bottom of the footer */
    bottom: 10px; /* Add some spacing from the bottom */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
}
.footer-contact-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 30px;
    padding-top: 20px;
}
.footer-contact-details a{
    text-decoration: none;
    font-size: 14px;
}

.footer-body_section{
    display: flex;
    flex-direction: column;
}

.footer-header-h1{
    font-size: 88px;
}

@media (max-width: 1452px) {
    .footer-header-h1{
        font-size: 78px;
    }
    
}
@media (max-width: 1352px) {
    .footer-header-h1{
        font-size: 68px;
    }

}
@media (max-width: 1181px) {
    .footer-header-h1{
        font-size: 58px;
    }

}
@media (max-width: 1050px) {
    .footer-header-h1{
        font-size: 48px;
    }
    
}
@media (max-width: 950px) {
    .footer-header-h1{
        font-size: 38px;
    }
    .footer-body{
        grid-template-columns: 1fr;
    }
    .quick{
        display: none;
    }
    .footer-body_section {
        /*display: flex;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;    }

    }
@media (max-width: 776px) {
    .footer_top{
        grid-template-columns: 1fr;

    }
    .footer-header-h1{
        font-size: 25px;
    }
    .footer_top-arrow{
        display: none;
    }
    .footer_top-header{
        justify-content: center;
    }

    .footer_top-social_icons{
        justify-content: center;
    }

    .footer_container{
        padding: 50px 10px 150px;
    }

}