.process_container{
    padding: 0 0 100px;
}

.process_header {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: flex-start; /* Prevent extra vertical centering */
    align-items: center; /* Center items horizontally inside the div */
    text-align: center; /* Center-align text inside the div */
    padding: 0;
    margin: 0 auto; /* Center the div horizontally */
    width: 50%; /* Optional: Restrict the width */
}

.read-more-btn {
    margin-top: 20px;
    background: linear-gradient(to right, #9924d2, #7023e4);
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    align-self: start;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: none;
    display: flex;
}

.process-card_container{
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    gap: 10px;
    padding: 50px 50px;
}

.process-card-right_wrapper-body{
    /*display: grid;*/
    /*grid-template-columns: 2fr 1fr;*/
    background: #f5f4f6;
    border-radius: 30px 60% 60% 30px;
    height: 100%;
}

.process-card-left_wrapper-body{
    /*display: grid;*/
    /*grid-template-columns: 2fr 1fr;*/
    background: #f5f4f6;
    border-radius: 60% 30px 30px 60%;
    height: 100%;
}


.process-card_content{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
}


.process-card-left_content{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    float: right;
    height: 100%;
    position: relative;
    z-index: 1;
}

.card-image_right{
    position: absolute;
    bottom: 0;
    right: 0;
}

.card-image_left{
    position: absolute;
    bottom: 0;
    left: 0;
}


.process-card-right_wrapper{
    position: relative;
    height: 500px;
}
.third-arrow{
    transform: rotate(180deg);
    width: 80px;
}
@media (max-width: 1800px) {
    .card-image_right{
        opacity: 0.2;
    }
    .card-image_left{
        opacity: 0.2;
    }
}

@media (max-width: 1080px) {
    .process-card_container{
        grid-template-columns: 1fr;

    }
    .first-arrow{
        transform: rotate(90deg);
    }
    .card-image_right{
        opacity: 1;
    }
    .card-image_left{
        opacity: 1;
    }
    .third-arrow{
        transform: rotate(90deg);
    }


    .process-card_container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 50px 50px;
    }

    .process-card-right_wrapper {
        /*flex: 1 1 calc(33.333% - 20px); !* Flexible card width *!*/
        height: 500px;
        position: relative;
    }

    .process-card_container {
        flex-direction: column; /* Stack items vertically on small screens */
    }

    /* Swap 3rd and 4th cards */
    .process-card-right_wrapper:nth-child(7) {
        order: 6; /* Move 3rd card after the arrow */
    }

    .process-card-right_wrapper:nth-child(9) {
        order: 4; /* Move 4th card before the arrow */
    }
    .order6{
        order: 5;
    }


}

@media (max-width: 840px) {

    .card-image_right{
        opacity: 0.2;
    }
    .card-image_left{
        opacity: 0.2;
    }
}

@media (max-width: 600px) {
    .card-image_right{
        width: 100%;
    }
    .card-image_left{
        width: 100%;
    }
    .process-card_container{
        padding: 50px 30px;
    }

}