.concept_container{
    padding: 100px 30px;
}

.concept_header {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: flex-start; /* Prevent extra vertical centering */
    align-items: center; /* Center items horizontally inside the div */
    text-align: center; /* Center-align text inside the div */
    margin: 0 auto; /* Center the div horizontally */
    width: 55%; /* Optional: Restrict the width */
}

.concept_body{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
@media (max-width: 1028px) {
    .concept_body{
        grid-template-columns: 1fr 1fr;
    }

}
@media (max-width: 600px) {
    .concept_body{
        grid-template-columns: 1fr;
    }
}