@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* H1 Styles */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 74pt; /* 48Pt */
  letter-spacing: -0.25px; /* Font Dpace */
  line-height: 80pt; /* Line Height */
  color: #000000;
}

/* H2 Styles */
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 22pt; /* 30Pt */
  letter-spacing: -0.25px; /* Font Dpace */
  line-height: 28px; /* Line Height */
  color: #000000;
}

/* H3 Styles */
h3 {
  font-family: 'Trirong', serif;
  font-weight: lighter;
  font-style: italic; /* Bold */
  font-size:26pt; /* 18Pt */
  letter-spacing: -0.25px; /* Font Dpace */
  line-height:28pt; /* Line Height */
  color: #081226;
}

/* Body Font Styles */
body, p, span, li, a, input {
  font-family: 'Trirong', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 14pt; /* 16Pt */
  letter-spacing: -0.25px; /* Font Dpace */
  line-height: 30pt; /* Line Height */
  color: #453f4b;
}

.space10{
  margin: 10px 0;
}


@media (max-width: 1600px) {
  h1{
    font-size: 52pt;
  }
}

@media (max-width: 1400px) {
  h1{
    font-size: 52pt;
  }
  h3{
    font-size: 22pt;
    line-height: 22pt;
  }
  body, p, span, li, a, input {
    font-size: 12pt;
    line-height: 16pt;
  }
}

@media (max-width: 1200px) {
  h1{
    font-size: 32pt;
    line-height: 36pt;
  }
  h2{
    font-size: 16pt;
    line-height: 18pt;
  }
  body, p, span, li, a, input {
    font-size: 12pt;
    line-height: 16pt;
  }
  h3{
    font-size: 18pt;
    line-height: 18pt;
  }
  
}


@media (max-width: 998px) {
  body, p, span, li, a, input {
    font-size: 8pt;
    line-height: 10pt;
  }
  h2{
    font-size: 12pt;
    line-height: 16pt;
  }
  h3{
    font-size: 16pt;
  }
  h1{
    font-size: 28pt;
    line-height: 30pt;
  }
}

@media (max-width: 768px) {
  h3{
    font-size: 12pt;
  }
  body, p, span, li, a, input {
    font-size: 6pt;
  }
  h2{
    font-size: 10pt;
    line-height: 12pt;
  }
  h1{
    font-size: 24pt;
    line-height: 26pt;
  }
}

@media (max-width: 550px) {
  h3{
    font-size: 10pt;
    line-height: 12pt;
  }
}

@media (max-width: 480px) {
  h3{
    font-size: 8pt;
    line-height: 10pt;
  }
}