.section-summary_body{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.section-summery-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-summary_wrapper{
    padding: 25px 0 0 100px;
    /*width: 100%;*/
    /*height: 60vh;*/
}

.section-summery-header-span{
    background: linear-gradient(to right, #9d1cd0, #6519d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 600;
}

@media (max-width: 1046px) {
    .section-summary_wrapper{
        padding: 50px 100px 80px;
    }

    .section-summary_body{
        position: relative;
    }
    .section-summer-img{
        position: absolute;
        right: 0;
    }
}

@media (max-width: 968px) {
    .section-summer-img{
        z-index: -1;
        opacity: 0.section-2;
        right: 25%;
        top: 25%;
    }
    .section-summary_wrapper{
        padding: 10px;
    }
    .section-summary_body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-summery-description{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .section-summery-description span{
        text-align: center;

    }
    .section-summary_body h1{
        font-size: 28px;
        text-align: center;
    }
    .section-summery-header-span{
        font-size: 28px;
    }
    .section-summery-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.section-summery-content{
    object-fit: cover;
    width: 400px;
    height: auto;
    /*height: 400px;*/
}

.section-summer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-summery-content_description{
    font-size: 12px;
}