.logo-container{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.logo-container img{
    height: 200px;
}


@media (max-width: 500px) {
    .logo-container img{
        height: 100px;
    }

}